.flashlight {
  position: absolute;
  width: 150px;
  height: 150px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0) 60%
  );
  pointer-events: none;
  border-radius: 50%;
  mix-blend-mode: screen;
  transition: width 0.2s, height 0.2s, background 0.2s; /* アニメーションのトランジション */
}

/* マウスをクリックしているときに光を強くする */
.flashlight-active {
  width: 200px;
  height: 200px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 70%
  );
}
